<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	">

	<mvc:annotation-driven/>
	<context:component-scan base-package="com.sds.holidayCalenadar.*">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan>



<!-- 	<bean class="org.springframework.mock.web.MockServletContext" /> -->

	<util:properties id="comProps"
		location="classpath:/properties/comm.properties" />

	<!--MyBatis 처리 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/sql/mybatis/mybatis-config.xml" />
 		<property name="mapperLocations" value="#{props['datasource.mybatis.path']}/**/*-mybatis.xml"/>
	</bean>
	<bean id="sqlSessionDaoSupport" name="sqlSessionDaoSupport"
		class="com.sds.lego.core.orm.mybatis.spring.LegoSqlSessionDaoSupport">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="sqlTemplate" class="com.sds.lego.core.orm.mybatis.MyBatisSqlTemplate">
		<property name="sqlSessionDaoSupport" ref="sqlSessionDaoSupport" />
	</bean>

	<!-- 트랜잭션 처리.. -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="select*" read-only="true" timeout="20" />
			<tx:method name="view*" read-only="true" timeout="20" />
			<tx:method name="get*" read-only="true" timeout="20" />
			<tx:method name="*" propagation="REQUIRED" timeout="20" />
		</tx:attributes>
	</tx:advice>


 <bean id="propertiesMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="/WEB-INF/messages/messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="0"/>
        <property name="fallbackToSystemLocale" value="false"/>
    </bean>



<!-- <bean  id="sequenceIdGenerator"  name="sequenceIdGenerator" class="com.sds.faro.common.util.IdGenerator.impl.SequenceIdGenerator"> -->
<!--         <property name="prefix" value="ADM_"/> -->
<!--         <property name="maxCiphers" value="6"/> -->
<!-- </bean> -->

<!-- <bean  id="menuNavigator"  name="menuNavigator" class="com.sds.faro.common.util.MenuNavigator.impl.MenuNavigatorImpl"/> -->


	<aop:config proxy-target-class="true">
		<aop:pointcut id="beanOp"
			expression="execution(* com.sds.holidayCalendar..*Controller.*(..)) " />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="beanOp" />
	</aop:config>

	<!--AOP(Aspect Oriented Programming) -->
	<aop:aspectj-autoproxy />



	<!-- CommonFile Beans -->
<!-- 	<bean  id="commonFileController"  name="commonFileController" class="com.sds.faro.common.util.file.controller.CommonFileController"/> -->
<!-- 	<bean  id="commonFileService"  name="commonFileService" class="com.sds.faro.common.util.file.service.impl.CommonFileServiceImpl"/> -->
	<!--// CommonFile Beans -->

	<!-- FileDownload -->
<!-- 	<bean id="download" class="com.sds.faro.common.util.DownloadView"/> -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="0"></property>
    </bean>
    <!--// FileDownload -->
	<!-- FileUpload -->
<!-- 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean> -->
	<!--// FileUpload -->

</beans>
