/* Menu List */
.leftmenu ul {width:100%}
.leftmenu ul li{border-bottom:1px solid #e6e6e6}
.leftmenu ul li a{display:block;padding:8px 0 8px 20px;font-size:11px;color:#333;text-decoration:none}
.leftmenu ul li a:hover, .leftmenu ul li a.active{color:#fff;font-weight:bold;background:#8dc22c}

/* tree_menu */
.leftmenu ul.treeDepth01 li {border-bottom:1px solid #e6e6e6;margin-top:-1px} /* 2014-09-19 */
.leftmenu ul.treeDepth01 li:first-child {margin-top:0} /* 2014-09-19 */
.leftmenu ul.treeDepth01 li div.depth01 a{display:block;padding-left:20px;font-weight:bold;color:#333;background:url("../img/common/btn_left_allow03.png") no-repeat 10px 11px;}
.leftmenu ul.treeDepth01 li div.depth01 a:hover{color:#fff;background:#8dc22c url("../img/common/btn_left_allow03.png") no-repeat 10px -80px;}
.leftmenu ul.treeDepth01 li div.depth01 a.active{color:#fff;background:#8dc22c url("../img/common/btn_left_allow03.png") no-repeat 10px -36px;}

.leftmenu ul.treeDepth01 li div.depth01 a.spread{background:url("../img/common/btn_left_allow05.png") no-repeat 10px 11px;}
.leftmenu ul.treeDepth01 li div.depth01 a.spread:hover{color:#fff;background:#8dc22c url("../img/common/btn_left_allow03.png") no-repeat 10px -36px;}


/* jenny chanage padding*/
.leftmenu ul.treeDepth01 li div.nodepth a{padding-left:20px;background:url("../img/common/dot_left_depth02.png") no-repeat 12px 14px;}
.leftmenu ul.treeDepth01 li div.nodepth a:hover,
.leftmenu ul.treeDepth01 li div.nodepth a.active{background:url("../img/common/dot_left_depth02.png") no-repeat 12px -34px;color:#7ec00e}

.leftmenu ul.treeDepth01 li ul.treeDepth02{display:none;background:#f8f8f8;border:0}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li{border-bottom:1px solid #e6e6e6}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li:last-child {border-bottom:0} /* 2014-09-19 */
.leftmenu ul.treeDepth01 li ul.treeDepth02 li div.depth02 a{padding-left:30px;color:#333;background:url("/comm/img/common/btn_left_allow04.png") no-repeat 20px 11px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li div.depth02 a:hover{color:#7ec00e;font-weight:bold;background:url("/comm/img/common/btn_left_allow04.png") no-repeat 20px -80px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li div.depth02 a.active{color:#7ec00e;font-weight:bold;background:url("/comm/img/common/btn_left_allow04.png") no-repeat 20px -36px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li div.nodepth a{color:#333;padding-left:30px;background-position:22px 11px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li div.nodepth a:hover,
.leftmenu ul.treeDepth01 li ul.treeDepth02 li div.nodepth a.active{color:#7ec00e;background:url("../img/common/dot_left_depth02.png") no-repeat 22px -37px}

.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 {display:none;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;background:#f1f1f1;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li{border:0}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li div.depth03 a{padding-left:40px;background:none;color:#333;background:url("/comm/img/common/btn_left_allow04.png") no-repeat 30px 11px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li div.depth03 a:hover{color:#7ec00e;background-position:30px -80px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li div.depth03 a.active{color:#7ec00e;background-position:30px -36px;}

.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li div.nodepth a{padding-left:40px;color:#333;background-position:32px 11px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li div.nodepth a:hover,
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li div.nodepth a.active{color:#7ec00e;background:url("../img/common/dot_left_depth02.png") no-repeat 32px -37px;}

.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04{display:none;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;background:#f1f1f1;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li{border:0}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li div.depth04 a{padding-left:50px;background:none;color:#333;background:url("/comm/img/common/btn_left_allow04.png") no-repeat 40px 11px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li div.depth04 a:hover{color:#7ec00e;background-position:40px -80px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li div.depth04 a.active{color:#7ec00e;background-position:40px -36px;}

.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li div.nodepth a{padding-left:50px;color:#333;background-position:42px 11px;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li div.nodepth a:hover,
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li div.nodepth a.active{color:#7ec00e;background:url("../img/common/dot_left_depth02.png") no-repeat 42px -37px;}

.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li ul.treeDepth05{display:none;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;background:#f1f1f1;}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 li ul.treeDepth05 li{border:0}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 ul.treeDepth05 li div a{padding-left:60px;background:none;color:#333}
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 ul.treeDepth05 li div a:hover,
.leftmenu ul.treeDepth01 li ul.treeDepth02 li ul.treeDepth03 li ul.treeDepth04 ul.treeDepth05 li div a.active{color:#7ec00e;background:url("../img/common/dot_left_depth03.png") no-repeat 50px -13px;}

div.leftmenu div.mCSB_scrollTools{top:1px;right:-3px;} /*custom scrollbar*/