<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
						http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd"> 

	
	<bean id="jdbcTemplate" class="cosmos.spring.jdbc.core.CosmosJdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="jdbcTemplate"/>
	</bean>
	
	<!-- cosmos.asset.xdataset.web.CmmXframeController Refactoring으로 패키지 변경 시 반영 필요 -->
    <bean id="cosmosController" class="com.korail.tz.sa.CmmXframeController">
		<property name="commSVC" ref="commSVC" />
		<property name="exceptionHandler" ref="cosmosExceptionHandler" />
    </bean>
    
	<bean id="commSVC" class="com.korail.tz.sa.XframeCommSVC">
		<property name="commDAO" ref="commDAO" />
	</bean>
	
	<!--  
	<bean id="cosmosController" class="cosmos.comm.web.CosmosBrokerController">
		<property name="commSVC" ref="commSVC" />
		<property name="exceptionHandler" ref="cosmosExceptionHandler" />
    </bean>
    
	<bean id="commSVC" class="cosmos.comm.svc.CommSVC">
		<property name="commDAO" ref="commDAO" />
	</bean>
	 -->
    <bean id="beanReloadSVC" class="cosmos.comm.svc.BeanReloadSVC" />
	
	
	<bean id="cosmosExceptionHandler" class="cosmos.comm.web.exception.CosmosExceptionHandler">
		<property name="messageSource" ref="messageSource" />
	</bean>
	<bean id="beanHolder" class="cosmos.comm.context.BeanHolder" />
</beans>