<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="jdbcLoggingAdviser" class="cosmos.log.jdbc.aop.interceptor.SimpleDataSourceInterceptor">
		<property name="logEnabled" value="true" />
	</bean>
	
	<aop:config proxy-target-class="true">
		<aop:pointcut id="jdbcLogging" expression="execution(* *..*DataSource.getConnection(..))" />
		<aop:advisor advice-ref="jdbcLoggingAdviser" pointcut-ref="jdbcLogging" />
	</aop:config>
	
<!-- 
	<bean id="threadBaseLoggerFactory" class="cosmos.log.ThreadBaseLoggerFactory">
		<property name="threadBaseLogging" value="true" />
		<property name="loggerHelper" ref="loggerHelper" />
	</bean>

	<bean id="loggerHelper" class="cosmos.log.log4j.Log4jLoggerHelper" >
		<property name="layoutPattern" value="%-5p [%d{MM/dd HH:mm:ss,SSS}] %13F:%L %m%n" />
		<property name="logDir" value="C:/tmp/log" />
		<property name="datePattern" value="yyyyMMdd" />
	</bean>
-->
	
</beans>