<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
						http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd"> 

	<!-- cache 설정 -->
	<bean id="cosmosCacheManager" class="cosmos.comm.cache.CosmosCacheManager" depends-on="namedParameterJdbcTemplate">
		<property name="cacheMode" value="debug" />
	</bean>
	
	<!-- 
    <bean id="ibatisSqlCacheInitializer" class="cosmos.comm.cache.init.sql.IbatisSqlCacheInitializer"  init-method="init" depends-on="cosmosCacheManager">
    	<property name="cosmosSqlMapClient" ref="sqlMapClient" />
    	<property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
    	<property name="sqlLoadQuery" value="SELECT SQL_ID, SQL_ID, SQL_VALUE SQL_VALUE FROM SQL_MAP where SQL_ID like 'cosmos%'" />
    </bean> -->
    
    <!-- 
    <bean id="jdbcSqlCacheInitializer" class="cosmos.comm.cache.init.sql.JdbcSqlCacheInitializer"  init-method="init" depends-on="cosmosCacheManager">
    	<property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
    	<property name="sqlLoadQuery" value="SELECT SQL_ID, SQL_ID, SQL_VALUE SQL_VALUE FROM SQL_MAP where SQL_ID like 'cosmos%'" />
    </bean>
     -->
</beans>